/* App.css */
.app-container {
  text-align: center;
}

.content-container {
  display: flex;
  justify-content: space-around;
}

.half-screen {
  width: 45%;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

ul {
  list-style-type: none;
  padding: 10px;
}

li {
  margin: 8px 0;
}

input {
  margin-right: 8px;
}

button {
  cursor: pointer;
}
